.get-started,
.introduction-page {
	position: relative; width: 50%; height: 50%; margin: auto; text-align: center; transform: translateY(50%);
	h1 { margin: 0; }
	.raised-button { position: absolute; right: 0; bottom: 0; }
}