.practice {
  .menu { text-align: left; }
  .enum,
  .content-container { display: inline-block; }
  .content-container { margin-left: 20px; vertical-align: middle; }
  .symbol-info { position: static; }
}