html { height: 100%;  }
body { height: 100%; margin: 0; padding: 0; background: #f6f5f3; font-size: 16px; }
p { margin: 15px; }
#gaku-app { height: 100%; }
.app { height: 100%; }
.clearfix:after { content: ''; display: block; clear: both; }
.dn { display: none !important; }
.ta-l { text-align: left; }
.of-h { overflow: hidden !important; }
section,
nav{ overflow: hidden; padding: 5px; }